<div class="row">
    
    <div class="row">
        <div class="col s7 push-s5">
          <form class="col s12">
              <div class="row">
                
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">NAME</label>
                </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">DPI</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="address" type="text" class="validate">
                  <label for="address">ADDRESS</label>
                </div>
              </div>
              <input type="date">
            
              <button class="btn-large waves-effect waves-light right" type="submit" name="action">SAVE
                <i class="material-icons right">send</i>
              </button>
                    
            
          </form>
      </span>
  </div>
  <div class="col s5 pull-s7">
    <span class="flow-text">
      
        <table>
            <thead>
              <tr>
                  <th>DPI</th>
                  <th>NAME</th>
                 
              </tr>
            </thead>
<!--     
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody> -->
          </table>
    
    </span>
       
  </div>



