<div class="row">
        <form class="col s12">
   
          <div class="row">
            <div class="col s12">
              <div class="input-field inline">
                <input id="per" type="text" class="validate">
                <label for="per" data-error="wrong" data-success="right">PERQUISITE</label>
              </div>
            </div>
          </div>
        </form>



        
  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
  <SCRIPT type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
    </SCRIPT>
      </div>